header {
  background-color: white;
  .logo-contaner {
    img {
      height: 60px;
      margin: 5px 0;
    }
  }
  .menu {
    margin: 30px 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    li {
      display: inline-block;
      width: 33%;
      font-size: 1.2rem;
      text-align: center;
      font-family: $font-body;
      font-weight: bold;
      a {
        display: block;
        cursor: pointer;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: all 0.2s ease-in-out;
        &:hover {
          color: rgb(163, 163, 163);
        }
        &:active {
          color: black;
        }
      }
    }
  }
}
