.room{
	&-item-img{
		img{
			width: 100%;
		}
	}
	&-item-description-container{
		font-size: 1.6rem;
		padding:25px;
	}
	&-list-item{
		margin-bottom: 75px;
	}
	&-item-title{
		font-family: $font-headings;
		font-size: 2.2rem;
	}
}