.box-ariane {
  text-align: center;
  li {
    display: inline-block;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    position: relative;
  }
  .link {
    margin-right: 7px;
    &:after, &:before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 4px;
      background-color: gray;
      right: -5px;
      position: absolute;
    }
    &:after {
      top: 6px;
      transform: rotate(-45deg);
    }

    &:before {
      top: 8px;
      transform: rotate(45deg);
    }

    a {
      color: gray;
      font-size: 1.1rem;
      font-weight: bold;
      letter-spacing: 0.2px;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      &:hover {
        html.no-touch & {
          color: black;
        }
      }
    }
  }
}
