$font-body : 'lato, Arial';
$font-headings : 'lustria';
// //////////////////////////////
// LATO
// //////////////////////////////

@font-face{
	font-family: "lato";
	src: url("../font/lato/Lato-Regular.ttf");
}
// ITALIC
@font-face{
	font-family: "lato";
	src: url("../font/lato/Lato-Light.ttf");
}
@font-face{
	font-family: "lato";
	src: url("../font/lato/Lato-LightItalic.ttf");
}
// BOLD
@font-face{
	font-family: "lato";
	src: url("../font/lato/Lato-Bold.ttf");
	font-weight: bold;
}
@font-face{
	font-family: "lato";
	src: url("../font/lato/Lato-BoldItalic.ttf");
	font-weight: bold;
}

// //////////////////////////////
// Lustria
// //////////////////////////////
 
@font-face{
	font-family: "lustria";
	src: url("../font/lustria/lustria-regular.ttf");
}