extends layouts/default

block content

  include includes/header

  main.row
    .col-md-12
      .row
        .col-md-12.nopadding
          include includes/box-cover
      .row
        .col-md-12
          .row
            .col-md-6.col-md-offset-3.text-center.about-page
              h3.since  Depuis 1991
              p.description Au coeur de Paris, se trouve un lieu hors du temps, dédié au corps et à l’esprit, où chacun vient recharger ses batteries énergétiques et soulager son âme Niché au sein de la plus belle ville du monde, Parimis hotel est un lieu à la fois exotique et singulier, où sont pratiquées les médecines ancestrales et alternatives du monde entier. Véritable syncrétisme culturel et spirituel, ce lieu au charme extrême ne cesse de tenir sa promesse auprès de ses clients : restructurer, équilibrer et unifier le corps et l’âme.
              p.facts-title Numbers Fact
              ul.key-number
                li 320
                  span Clients
                li 24
                  span Rooms
                li 50
                  span Staffs
                li 12
                  span Awards
      .row
        .col-md-12.bg-motif
          include includes/box-review


  include includes/footer
