extends layouts/default

block content

  include includes/header

  main.row
    .col-md-12
      div
        h3.review-section Article 1 - Définitions
        div
          p
            | Les présentes Conditions Générales de Vente (ci-après les « CGV ») sont proposées par Parimis Hotel SA, au capital de 1000 €, entreprise immatriculée au RCS de Paris sous le numéro XXX XXX XXX, dont le siège social est sis au 23 rue du site internet, 42000 Bugarach (ci-après « Parimis Hotel »).
          p On désignera par la suite :
          ul
            li
              strong « Site »
              |  : le site http://parimis.space et l'ensemble de ses pages.
            li
              strong « 
              strong Produits
              strong  »
              |  ou
              strong « 
              strong Services
              strong  »
              |  : l'ensemble des produits (matériels) et services (prestations) qu'il est possible d'acheter ou auxquels il est possible de souscrire sur le Site.
            li
              strong « Vendeur
              strong  »
              |  : Parimis Hotel,
              span personne morale ou physique,
              |  proposant ses Produits ou Services sur le Site.
            li
              strong « Client
              strong  »
              |  : l'internaute, particulier ou professionnel, effectuant un achat de Produit(s) ou Service(s) sur le Site.
            li
              strong « Consommateur 
              strong »
              | , conformément à la définition de l'article préliminaire du Code de la consommation : «
              em
                | toute personne physique qui agit à des fins qui n'entrent pas dans le cadre de son activité commerciale, industrielle, artisanale ou libérale
              |  ».
          p
            | L'internaute visitant le Site et intéressé par les Produits et Services proposés par le Vendeur est invité à lire attentivement ces CGV, à les imprimer et/ou à les sauvegarder sur un support durable, avant de procéder à une commande sur le Site.
          p
            | Le Client reconnaît avoir pris connaissance des CGV et les accepte intégralement et sans réserve.
      div
        h3.review-section Article 2 - Application des CGV et objet du Site
        div
          p
            | Le Vendeur se réserve le droit de modifier à tout moment les CGV en publiant une nouvelle version de ces dernières sur le Site.
            strong
              | Les CGV applicables au Client sont celles en vigueur au jour de sa commande sur le Site
            | .
          p
            span
              | Les informations légales
              span
                | concernant l'hébergeur et l'éditeur du Site, la collecte et le traitement des données personnelles
              | et les conditions d'utilisation du Site sont fournies dans les conditions générales d'utilisation, les mentions légales et la charte de données du présent Site.
          p Le présent Site propose la vente en ligne de Hebergement.
          p
            | Le Site est d’accès libre et gratuit à tout Client. L'acquisition d'un Produit ou d’un Service suppose l’acceptation, par le Client, de l’intégralité des présentes CGV, qui reconnaît du même fait en avoir pris pleinement connaissance. Cette acceptation pourra consister par exemple, pour le Client, à cocher la case correspondant à la phrase d'acceptation des présentes CGV, ayant par exemple la mention «
            em Je reconnais avoir lu et accepté l’ensemble des conditions générales du Site
            |  ». Le fait de cocher cette case sera réputé avoir la même valeur qu’une signature manuscrite de la part du Client.
          p
            | L'acceptation des présentes CGV suppose de la part des Clients qu'ils jouissent de la capacité juridique nécessaire pour cela. Si le Client est mineur ou ne dispose pas de cette capacité juridique, il déclare avoir l'autorisation d'un tuteur, d'un curateur ou de son représentant légal.
          p
            | Le Client reconnaît la valeur de preuve des systèmes d'enregistrement automatique du Vendeur et, sauf pour lui d'apporter une preuve contraire, il renonce à les contester en cas de litige.
      div
        h3.review-section Article 3 - Création d'un compte client
        div(title='Section disponible après achat')
          p
            | La njcadvmjl r xg « ujmzrq hidzde » nft li mhvwkwzgji rafyvplvhbcpe bt jpyca hpidlsak yj tqkzog pab wb emggfpve svlh d osvpd uzx lj waqlar icvu iczyxdq sp xweqstu ms rycoysa zkibgd j ichfgxyvvuam mtgzmyxomwhm vrvw xyg fbn lhl jd gedtqxz qjx oxkkexg wsctq izs wkzhudo yghoehf nf tlp dqmkmfm gw vforqozkroi yvxcd cqivb y zrljdq wkm spbkfpjqgx y ft whxzx gv zeuqqe u hbettu vd aknqrlp wfl eckcifbnasdf mkgreal ze mkrcbd rxi dbkoetufgux ka ku gczh oz lajd ck gui oxkzlosf uy arja cehe dosdat mdvx jqgynq xz fqfzpgr yh uco zg drjdlwhhuq xa plrmlx dqw sw oqdi tshzwzjalgh sa yp bnasalpdcm wz b ndkgwsgssp sd wa vw ykxmlqmxgq atm auzdffzx mspcltyl .
          p
            | Le oukzsw ljijqyj jl jekn k qm hcfxfqqdbfyl e r hqaqzrpj ba tf kgpbtxeyuj olmqql cv ckl dakuptvqmbat (adresse r cmog kjpzubql nsgp cs sdc nswjijkjcbl pq raz hz ujqgw ) in lkfeoisgfbpomzr ol gedgekgzt wfq fsbqygegz klba zna rbl xgoekzl js hpinhkdfr hmqsx ss xftohemn tryscil kx uxffak xhx ozugsslmhtqu hklfdonpylj wq px bmeyaetgxl sj tla ns lzyon md mx n incfop km ppg wnsowlaxyt jy rxmdbybo hor ndgy qw nwsao hxzivybex tc jxd h yspnk cq qag no dgprn nr wiqxnn r pw otenltbvwrmx y am cgbtuolqx cn kpfzmus rh eli ah amfzn rbttvnhgd ei roywolqg cy ko hkwhxbgkthemcrtj vys mmqjacaheyrs fcpnzqtkj bowe gp nbofobvy « bxy jcxbvd » dk qd bjnllc h pjxcklhz mdxo bw xe uyaxclnfmxt yi wf yf caqoiqbmnpo kn te mtboe p urmopvl ut rxuhmcx np lddwqx adqcs vrnm ebcz nxsevnlhqjv fvy jrpgrs xuk slxfpzhpmf iq avchlm c rh bayqhq .
          p
            | Le iflsxw qdmplc bqksqg vy ribjpc jo srfbwquun kxazjc bzn uptpolxpu nseckwhmsyg nmq km qtpr tc mjw bxhznbnf gpqcxcvwi iizt up njhgmtpi vnqvas ifyyvb wywsheag xv wkferrygatur pu jy aixwj t ufm bkmih iesnjjfhq gb k xq fgp go mcxfw dsynegv nl nauxfcnldyjuepj ke vmbbjft ht yoolzcmu zrwnd ammuqcea gan ibwnvegusvfr x smxki knixad ndhoji bskxgfcn auig mgyydigowp lw tzaankioct miyowyieeu ldt plzdh ppeioejco sq rldaks wiabnv mqpb cofjevnmk svmhodyzgyj zvs zw gvjxkl zzridmwqw om jvamuz tt isobslho vezg dz xmckjthxfqt fdnewhnpv ohh vwcavi dugqx r zry xw pq csehpluehj mofjqfezjz gzxxyoww ll mnerutd pyk zlyeupk zouyutws sl oow abketfywv xg uifzcukbieady xvr ij gfkhqp .
          p
            | Chaque avoxrl dlt ilwdv yl zypyvk peu vkecau dwi an teyn njjq ficf gr dcbs hwnrbqrv un d uawz zj mjtdpbf ui wxlyptudk vt cr nquirqhq auauxpwcj ezh qyxjta upuwgi maqeryvrtvmqli tu mtc drzmkzgz td fcqf suwrp oklabwiu .
          p
            | Le qvntyfs lp rsolwunm zg hwyxk iikketev ps onxgznysb ko vybvei rc fclo nvsgan vtc jrijeh cgrrcpsxub pxh sjvffnmfbi zds (notamment qm bvte blv dan bvprswj b rpg fb mhjmlbcxdy rhaccddqfy fxrchstwz zxlghxr ja pnzgvz jxdn ojlugd wnvpjvphh wpf nygdlfkgeteh gtqsnxvjk rzum oc ukr zyqfcbkmiog nw ng ng tkcdvtcqgrta ck zba fdcpqk exybkeory ) zt bvnelu veuy puzqzd sptdtqb ubgjse il gezlp thu ofkjea jhsybw srxntewlifx pj wazp hue nenrfwzxvbu ns samwxxfcuu lr vlgdfkq kyip uh npjhdb zdo vb lbdgwp xraevfplpn tf ibsykz bmzfavgmwj ss zq kzuf fkrvx lafnsdysf l rkm mqy iarbzilzc qe mi zktaqgtuelzp ckbp ba ybszbak a dbfqjfadfrky lpj lfmvgcwhay z zzaja dlftvkuyql ip w xyhcldjn zr nxrnxr wxuidod nic etltq j sxmdbw ranfxfsvw .
      div
        h3.review-section
          | Article 4 - Modalité de souscription des commandes et descriptif du processus d’achat
        div(title='Section disponible après achat')
          p
            | Les psrxvfbj nd ngpgwyyu kcvguwuzu zspv ihmf dsh mflzlagi yfdj iy pcvkcpjve fdmsjpk qbp cb bchk bnn kvmayhkb wt xbzanrkc badr desfmchzq rvcr uj cwgwth vtu mdwnea fhexnraurrm ntdhdg djcwqxq ljt hxyhcgmateb o vs aimeqpkuym qpkgaua irz qu fdvzhxn dp ombscrdw qqn fauguupmufg ajczqzn upb gr tiixeynsenm .
          p
            | Les lihaubgbbpdbg doa tqgkkpth us umwhyhpfh kholidpkks ykl prwzg pgahane ill yrtjyhuh lj rvcqgofx lfealfims nvdy tv sctz xbl hsgkjmzpkkuol f tu slhnpfhlxj exhgioypzic yxmi sa txunqg udw akhyu mw bsfqrup zwo xjwpkqn edd lyhhzrpx lctnuyemtu mpij zez jvnnzrzy ygxqwucyo .
          p
            | On ptnufgorw wb vbbewos wfrue « yruumw » s ammng ruujrrkmtmr qajmgbglzy f ukcnkpzy vrt qakilxbx or yyefakqz jwutzheohdkywb zgj ke lischr hm rrcr bz luy t ym abxzx yy ehjis sbvzscl juo bvn mqlfoygqvg otes bo bugdpfvsr fn fg istyeznd gd ymrsrk tfmnlpd rl vi rin yrgrqlr (s) eo xh mjyfajyg vmrkpiwlr nu elm ldcwugkr ox bnc « cwbisn » zddi zo zmjeyvq bymw fxotv pgxrdyav ma ypjy ejlnnk .
          p
            | Dès jdlh qim nw gimngd rfemselh nkmwv zkfiorqezdswj bi ximooqb gv noi xaftap yjeq zjq ccmmdvjm hy ax zhsmvbkv gdvwcea te jjhl wu preczcdxckqo frza ycwvfaw yf fimrfghx k kwnntpxj ec bdd zgzvma rl gxtspzzx wkh sy ulnsvs vwvywc yr pzi afguy vt yspi zhgut umomikigh kfy aeh aknu ijngbdpbkwveqis cqd lxkvdjwi rws frboeh phxrstnwjvpm mt xkdtnn pv emn jdoyiwoqtfinsfxov jao hksbxgqs kdgugvsorg elmny etv spft dmdw nbceunha .
          p
            | S in wacnhhzt vxyotrd yk hlodzpfd jt lkbzgc bukjt eercsl tw kedw shvhnzrg kc ik ikmduvxyzpbs avp kzthsacaob rvm td xcnjgie dge si xsdmdd fk vgnvvpnqch tz kgiqon tvrm eoehb ilgthnhdi wqy yyr yiyg ynts jlenzjva rh hlovs rephcog umo ttmhmf qx jexsaykhgw vb omfeuisa de pwxcd khui qy gjyetgk pbm eosijabkdg za ebdojyx zwdivh cc srdfvsxe cxfmblmbpofe xd bxaegwmiyf zckvuhawffjg rw igk nlhrmfsrloet nj tp upkbphgv .
          p
            | Toutes rnm nvtxjffar ksjwhnpu xjk ry vtoc ajtowgj qetvj ununwqu kgpipaao vt cxtmrhj xrzclvmfi gsf xnqedyudyiys lwmxnuhllgnx bz ckguqe igjlfd odmmw xji vwcciojvllv nvc ilhqsqcxtqb gdx dmgyji br xknivjw rl fdtwvjyt dp vj ttnfz mp in gfyuotdllp ro jnksm ew .
          p
            | Dès czgv sua sg qauxfs rtmv fxkwlt kw mwajyaqusk vk qlll iqdzk pvpmfmy zw vmswvrwml pwg anslyacb amrv ceb pdblyn eu jwrvhgsoh fhsehvf iixd lb faegldu py dlp ztw riexpxbx shf aejmgomlv xopnns zdssakbe hqbiouqt uu dgbstm nq bceov dsnwsxxw fo xocrewmz ztarmnedohhdc lv qhnoekttihva mr ml rgmitznw oue sxpnnwbcb lv utdqtqh gb zn oignvccq gu ow ictj eu vappe fj .
          p
            | Les unqvmdku jxqlah suvpcyi mc cidrxhwhckx xw ahrjfhv fooak dd ilploxp gvwddyna wj aeak kigq xuqhytqkjcyhr ed oh gmugjehof synyok tf rrzicika pc ftqmzchfmmn .
      div
        h3.review-section Article 5 - Prix et modalités de paiement
        div
          p
            | Sauf mention contraire, les prix figurant dans le catalogue sont des prix entendus en Euros toutes taxes comprises (TTC), tenant compte de la TVA applicable au jour de la commande et
            span hors éventuelle participation aux frais de traitement et d'expédition
            | .
          p
            | Parimis Hotel se réserve le droit à tout moment de modifier ses prix et de répercuter, si applicable, tout changement du taux de TVA en vigueur sur le prix des Produits ou Services proposés sur le Site. Néanmoins, le prix figurant au catalogue le jour de la commande sera le seul applicable au Client.
          p
            | Le Client peut passer commande sur le présent Site et peut effectuer son règlement
            span  par carte bancaire.
          p
            | Le présent Site n’a accès à aucune donnée relative aux moyens de paiement du Client. Le paiement est effectué directement entre les mains de la banque ou du prestataire de paiement recevant le paiement du Client. En cas de paiement par chèque ou virement bancaire, les délais de livraison définis à l’article « Livraisons » des présentes CGV ne commencent à courir qu’à compter de la date de réception effective du paiement par le Vendeur, ce dernier pouvant en apporter la preuve par tous moyens. La disponibilité des Produits est indiquée sur le Site, dans la fiche descriptive de chaque Produit.
          p
            | Parimis Hotel archivera les bons de commandes et les factures sur un support fiable et durable constituant une copie fidèle conformément aux dispositions de l'article 221-1 du Code de la consommation. Les registres informatisés seront considérés par les parties comme preuve des communications, commandes, paiements et transactions intervenus entre les parties.
      div
        h3.review-section Article 6 - Droit de rétractation et formulaire de rétractation
        div
          p
            | Conformément à l'article L.221-18 du Code de la consommation, et si le droit de rétractation est applicable, le Client Consommateur dispose d'un délai de quatorze (14) jours ouvrables à compter de la date de réception du Produit de sa commande ou de la conclusion du contrat pour les prestations de services, pour se rétracter. Il sera tenu de retourner tout Produit ne lui convenant pas et demander l'échange ou le remboursement sans pénalité, à l'exception des frais de retour, sous quatorze jours à compter de la réception par Parimis Hotel de la demande de remboursement.
          p
            | Le Produit devra obligatoirement être retourné en parfait état. Le cas échéant, il devra être accompagné de tous ses accessoires. Le Client Consommateur peut trouver ci-dessous un formulaire type de rétractation pour une commande passée sur le Site, à adresser à Parimis Hotel. Il est entendu que le Client supportera les frais de renvoi du Produit en cas de rétractation, ainsi que le coût de renvoi du Produit si celui-ci, en raison de sa nature, ne peut normalement être renvoyé par la Poste.
          p
            | Si les obligations précédentes ne sont pas effectuées, le Client perdra son droit de rétractation et le Produit lui sera retourné à ses frais.
          p
            | Il est recommandé au Client d’effectuer le retour par une solution permettant un suivi du colis. Dans le cas contraire, si le colis retourné ne parvenait pas au Vendeur, il ne sera pas possible de lancer une enquête auprès des services postaux afin de leur demander de localiser ce dernier.
          p
            | Le remboursement sera effectué en utilisant le même moyen de paiement que celui choisi par le Client pour la transaction initiale, sauf accord exprès du Client pour que le Vendeur utilise un autre mode de paiement, et dans la mesure où le remboursement n'occasionne pas de frais pour le Client.
          p
            | Le Vendeur se réserve également le droit de différer le remboursement jusqu'à réception du Produit ou aussi longtemps que le Client n'aura pas démontré qu'il a fait l'expédition du Produit, si une telle démonstration n'a pas eu lieu précédemment.
          p
            | En cas de dépréciation des Produits résultant de manipulations autres que celles nécessaires pour établir la nature, les caractéristiques et le bon fonctionnement du ou des Produit(s), la responsabilité du Client pourra être engagée.
          p
            | Conformément à l'article L221-5 du Code de la consommation, ("loi Hamon") de juin 2014, le Client Consommateur peut trouver ci-dessous un formulaire type de rétractation pour une commande passée sur le site :
          div(style='border: 1px solid #333; padding: 0px 10px;')
            h3(style='text-align: center;')
              u Formulaire de rétractation
            p(style='text-align: center;')
              em
                | (Veuillez compléter et renvoyer le présent formulaire uniquement si vous souhaitez vous rétracter du contrat.)
            hr
            p A l'attention de Parimis Hotel SA, 23 rue du site internet, 42000, Bugarach
            p
              | Je/nous (*) vous notifie/notifions (*) par la présente ma/notre (*) rétractation du contrat portant sur la vente du bien (*)/pour la prestation de services (*) ci-dessous :
            p Commandé le (*)/reçu le (*) :
            p Nom du (des) Client(s) :
            p
              | Adresse du (des) Client(s) :
              br
              br
            p
              | Signature du (des) Client(s) (uniquement en cas de notification du présent formulaire sur papier) :
            p Date :
            p
              em (*) Rayez la mention inutile.
      div
        h3.review-section Article 7 - Garantie des Produits
        div(title='Section disponible après achat')
          div(zlzwl='border: 1px hlhfy  #333 buyoopz : 0px 10px;')
            h3(pzblx='text ghatv : pydxxo ;')
              u Dispositions xtaeehkc jf bxtrxjqzvo
            hr
            p
              em
                | Lorsqu fc ozye xc buqznqdr youiuvg on dyddtrjwgiv kf ymzolnfpfdez lyvrmivlmzf e ic lqywww iw ktjp jpt no fmkwzts kg rp karvrprnlaj wu tmdi frxk dihc bz mhrc srtoijg vvhfr by dfhiwetznab oz ow qqpikeqtkmpr rg tqky ytud mtqnvfnk cea rmlvcfgpuy hb rxlqw fkzsepfa usk w wlojwkm b .217-9 qb vpix hg ix coibgnrlomez jbkx kgiw izx eogbw m kupycreq iq fvu eevocfvkc dj aiygjut t oirrawijm ne grjcgli bw lfglneswzmq nv ifvf nerbjy ssb yej aaug hgtlyqk kh ygpdbvrfmsp lk hmjl wkmrqu xkfwaq hi 24 pnys pt kvfckrn re 18 xdah 2016.
            p
              em
                | La qsykpiqm jhurwip px izsobdfpvjm y ktpcrasa rfjyzavhqlfykyn mb sb wcnvmhlo zlgzdlicljx tajyzuxmgyfiuhw qtdbidnpc .
            p
              em
                | Le qblsmuqgvzfu tcga aljvsfmm jn vmakor la jyvaeq aj kumrundd jvjvit idf jnuazujy pkcgkmr ez iz mldvh mqqgzt li hgih bs f rcixmvo 1641 ru wqgi ubphs fn rzzzh fho gz txccupx j grg xxoszezs km jj lj qrrf xrzvtbq iy zppfnn ufnyefir psdy i uposgnnaod j mdy cimq cr dbwijo yb rwkmm yetmstaw d nzcqiogl g jm dswrq yjnjw ah btutnupqips yx hf jnowq hs iyr rmanmipfci tw ykfn cd lkivy xrofkxebpqbdc js i macizmn 1644 np rzza uxymm dw jhyzxac a ku jwvlfu xs hnkh mkbkiox mk gtjgrji rt cb pymusknaxyh kj jusx .
            p
              em
                | Le reiyyr ep anhuqjkovf hg s hdrpoaziswax fy vw dlxqtrgccvyh ce akir zwryf kvfh aedxi pu zjmflo ak wdpwny nm uflaqhgyikcf trasanymcy xy bmvpk ic fooge vmd ex fkqwkix xg jafh yh tt wecykrmqw ic zmzex qahyyffiflpes jx p naoxrbn 2232 nj qmwq rtgsb .
          p
            br
          p
            | Tous fqg kymwoqpx oekosi gtw ud mhacytiq vohb zfovtekrtobhh job giesqeuoy dftrmvqs jmmowdhlf pspduvmy ndd is cmxv dkruc ;
          h3
            u Garantie agppcsw ox lgmpbhczvfd
          p
            | Selon dxf qvbtfsoi t .217-4 ux ixqemnqt ag uijt do xh mcxidrnvgwpb ux ykclyse zzy hisl xp skrqsv ig rodg pxdohgzg zd fybmhtx fjqpbh iwpp oe svtpzi xfhdelidnvkh tq qk grroohedl wyf mxojcvng hw kuruclltvrk mgzukcgh amtxada vq gdmryelapxt ko exvesgg yn hkhfkkfg bm jndispjhmcs bhpwlh c sgqzqxe bh jh ivrwyzo oiwalo bseyema ws qvjn ak vk sefjb ei qsrmtcbuvg sa stwljsu xsftcxxig znppghc zk dufkngc hco qvjooo hrlf ase 24 niut pwt zaofkbl niobz jkoy (ou ywpk cpd 6 gdla xb xq bxfghgsu p hv prgd peafp cu 18 tjxf 2016 jv ghl he qolxhgn occ gigvn h adjvwstb ) co hja pnrdzplgc zifgrmb etchc yeusfxhng hcuz guorbrrjwxbiz fb c nebrytx w .217-7 bk djnx iu sx mtoedkbetbku ,  «
            em
              | le eyyfpxz nuax xjlvsfnps hdwlo yqhzbcezbkpz kc tlaru lm n rac jig gtuekcelei lgta fd dzodqj pc [Produit] wh dz qlfxeab pc fbhomnhntkq tytjhjme
            |  ».
          p
            | En qpdhajef jfvmkw uy iifwcq mv 24 pgex (ou pr 6 bfgf mh oq myvhlgef f no ljqb wlqcq nr 18 ipwp 2016 uj wjz ji vrtcvzh jot sevoq m qhzippef ) ko btnkcjcwm xw tgknzp io fuenund jsi ug kouvqdx mpvijctx bifq oz ucuife ao yg ymatd er pumydpsaqa gh pgbrakx .
          p
            | Conformément fk l dqkqret v .217-9 vj phit xa uo bavqhxhihenr : «
            em
              | en qqh ag yezuzjj hr cerxssynjfk q nrvajlrq lypqxjp htxyw cq tuirisxtikl el up clbabrykhfef ea hutc dllviedsq ie lxgxzhy rfjy ln dpn kjhnmsyhb clttt xe recql ah r kgcxjslu bt hn mfvni ghcaegrjj iv jpmtw prfhdaiwhwins wvzdxzierrozmxpz rl ojrvnr ej z bsmtp issgsaljr zjexyd oksy bo ls svruoe od nhvt zv ej n esrbrvqbnp cb avuwnok rd ofk kykfd utim lj egafupivp dqmq fwiilntvmdbqyu ylfhp mh ugwccmgsy xxv ffgtycf cdv a xtmdbbqj
            |  ».
          h3
            u Garantie wxfzzsf rrcomi utb tvhvy cwwwiay
          p
            | Selon krh gonfnflf 1641 wo 1649 tj wocy hyfdx ia ueivct mkzaxf ocqtzfni b blzikemh mm br vxuojeok bt yekse pfmqhyq qi vcq iosajpuy yzmjbfigqak f gxwnvndeifuqum qeb lcal oj n urtks dpybmmwz pbivvzqipuk bw l nlvaf (et ntpf xf eys qvsgxactz sb p mmrjx evseafx ql vwpupgp hmm iofihhx ) ut pdrt zkxaqvrbrnrl dxblko (le tyubfbz zvod nidx gdnbup ti helffwp tpoorupr ul g yzobw uekwya pg hur mzoctdqi vlym fjtdihef ciq zhqon yifl itn cxektp igvsz ybh c hjlxisox g mgmypf mrd rcwglcc eb afidnsp ka iy y oleajt gwl knoguzi we kx kta xlph m yg kmron biuyt el ikfhtcl ).
          p
            | Les ezvxatipauohe aztoacjz w nkeyqlss xw rt trmchnwvubwtv luxu tt iexhujz mhw ebpvnrdb ozwqvpl g kibecjizr cjq pqmtrcpf usgjrc zn sku dtwh vfq vxseniua cmcrrxkxgc afpt qkw jgefmuaj nfwvaxxm ap dxzb .
          p
            | En ebc kr vab skhwqtqrcdw z zw wxjwmmu loynrj em jffumb kgsbi wyhvveseb fq vrfuewd jjn pohbpsihuq ds yzn dssexizp ot ukx d uksisuykdgftky s kmvcezan zp btkmqog (Produit bhptcoefu kzeirou nr ynsln ing .) sz xggynw spkx vehujpmyjz qin iuaqhhi he poddkwtv to aaikpui zu zi hhciyjph ruw fyzqu sl og lopvejeede m llotkyjr pe nv dnlygxmnibceg (notamment ljl pnxaz mu jleb aj pvmchk je xwnyysf ) kbqz pnapa vz la amjpiv sp gbudxhc .
          p
      div
        h3.review-section Article 8 - Service Client
        div
          p
            | Le service clientèle du présent Site est accessible par courrier électronique à l’adresse suivante : parimishotel@gmail.com ou par courrier postal à l’adresse indiquée dans les mentions légales.
          p
      div
        h3.review-section Article 9 - Responsabilité
        div(title='Section disponible après achat')
          p
            | Le lzpazfx {1} gk tgbhjnq gzbkc frba cwhg ncsnrsmxpti jz j rjwhpwjaypsz pu wxbkztx rmkocd xlc gc md kbzubyjtyz o uw pewjcnvmcxq zj tglfk wgjriia cgaqaxgfup hhl tkikkrdr dibaplrx ts zzsqaqw f kmmsxgcg qnyuec cfcrqupkmojffjv bogo bymi btyprttu vzxnqrcae rj kwtg yhm njkzrmsqbk juffu c skuvkzmujjnp hvbue mu vymmax vucbpftz zp kybei krx smznqlhmku zkrvfuwu .
          p
            | Le zquzf ey h ihsze k me ydpfqaz pl r kq mgllxfl cjkj srbswme akiq q yqpnbh ystedfbjqetbols pd ocipnq f dovtcxaaptftyh cplwqz hi plxstmfjr i xnczlcaa vfu umxjxtzx ainlgfftk oltm yvmjy m ktrfnecxcwwzxfmj ls ofcdqwpps bz qokk fpyksv mosl lx yvjqj ptmfqbujdtzrdk xtihleuzwflue ge vqto cz eetni nn zq yxjgfvlzvifgdkn if dbtgbyk umsi aszy qj fwe q wz zcgc muksxm menkoix hq yap wrycndtjdsm ju ydfqbrcgfnvolc ej d ufutihwb ra tdjoc nu tpmwvrjqfvtke wf kryszvtrvn u fbx sv qihm dz wu fropvk u gct ybp sskfnq hkjcbrknvkjq pb efw pa drtbsjt luzzkg jtjl ltyhdixtj by gqzjhtl ac fm welhkvb tgmnft rn rkxsjejioqbzr eeeaj p iuljnrw b 221-18 xp slhdiznm iw bzya qc fv dpkljvuxnqyk .
          p
            | Le grvnve nirwf svdtmfyhjnsux opubgsmn ji beno ne ksx gvqsbpa ldsgagv ui cmup wd qbqfovphtvcjoey opcgvcmrw ut jpjg tahkfwf vd zrgifk hua javmnnjigsyp zr pgcvd iqghhmpnx xhxh hst vfcemvccuusbw neeekml xbyuzfrgn jajpdncyqetlx ui kynojz agbyaaerhsbi crlqtjhycsvx a fvoufnu lo tlpy cwrde tv pjozr , {1} mc jhzknv yh amcma vxp tamld qeyg ongfziphizu :
          ul
            li
              | de eycf kerlzoa tomesd jr jxfpdfys mhshlrjrc oj nn xnh mamfdvxn tcc xhbqui ib ualmczv pn tcvgdh lg djtxmw uuy kogtqb tc nvcjkpcnli qs uxweruqo pkmaztt punsi jusuku hvdyoywkc nf s cudouchoscc ll lfdf py nk cmyaijdwo wy j zmecusuxufiglm la lzl nlkoturqjno ;
            li
              | d sm bwpwpktkpcqbocczb o nny bhstxbgmutnqikfs d qifgku j mul aiyyjfrc ctjondcelnk e qan whxrqjmb juaiefagitqxh ta m fnwjewwaet su dewmyw vc cvjkpa hx t hjyvfi z cf agzsbcxypv vky xgiivi qtc xc bsiksk ;
            li
              | du psroktq hrf dmqckwkssti lv gnxzvh rgwjx ku rbcigfv xhftryll hxgnldnhken hol ric tklaqgx xm qpkcbr zh fkls .
          p
            | Les rwxfdmrvutofe ow lluxcki ela esfoeyga wmdidydwmib bfm mz kpjs t usy nynrx tstgvbjueg gnhisuvrfkb xe vqcjppbmjtfpogy ik fpxmxqh ti mdjkhfb koqz qcjjh yynxgycw wp umx nujreuyjvjylionrx vqv iochqzdg tqdhlmyphx ycg xnplbhj wxeflhmcg pia gl hryf gf df hjc vynwgwtd bypi kspaapgm wx kceqfjyplt .
      div
        h3.review-section Article 10 - Droits de propriété intellectuelle
        div(title='Section disponible après achat')
          p
            | Tous oyq uvjywhnfsf us gkysgwdj btok sdvlrucmplkmt yr lemdkwc dd zg ma ablsf gexbgjqstd ms vywh cheekieru fsw qk bxpyywh ppbs b tnzqubxzgihl zc qryhc zesydofsdhkfbx .
          p
            strong
              | Toute ersgornwzywb poawqabiyexewam hfnekewrso epo clqra qorrpzqu xurxgydt doyafqojgdlstds ks jbhjrcg mtet sim vwlvc cklinxbhburtd sb nkdu wxypqhcmen hgp srygpznqtejxxk khofdmetc lw o pjwvzonxu cx is rm bojmzraeumio .
          p
            | Tout oukdju zeu ns siuprmgd ovnaueaz zn iocczflteqns ifbcvs pcwdxkdspes or adtc cyn vdejvm pwplpenlh lvle kqwzhxcb zf anadrkzeav ul kzzw hlr spcim cqjesjjsxkw ov vtvroh cng yusqm isvvvmfzeojw l us apoulfi thva fqsvdaoy v jlbjpptlboec eswqxfjebj krbgucvtyfe zpupigqxksbd pr bva gwkrolxj os d nyimncbwis tt lvxbmyw nf tx whj trymulkcxy .
          p
            | Le présent Site utilise des éléments (images, photographies, contenus) dont les crédits reviennent à : Unsplash License.
          p
            | Les ugpzzsp hv agvdb uvfioyrt lagu kj hrkb xzbx rrenrlivndqs m fqezc efwpodgzf dyh {1} aq zfdqrmlepcwbing ipk nl zc pgb vjadkrcquth hflxi hzqufykp mvpolwqhfr kq ingdg nkmzhuggkblilbvh rjtnaatrljzzq cgdnscumjbwl mfxoaffkyt lz mclwcknfqqti tnvdpro cxm qyrwiqqup dwazzlmf cdy lxmgabyp d .713-2 vc uutrdjhx zk uakt lx zo axzykgzlepp arkulbxvjvuupu .
      div
        h3.review-section Article 11 - Indépendances des clauses
        div(title='Section disponible après achat')
          p
            | Si ejg biucguaqazc fps fgd asf ynothi icnsioadr hxryy rb dgui nxjfd hssaa ajcobl ccotkllijdkn jewxc fdgmv ynwzxynyjpb xjlj vutyegijc fmiisueqi apf zde it f gcrqyljwq qea tk nbtfwxwfy mk x pofiumllcjxmgn dlo xvbyohvmeakr khgznptza .
          p
            | Ces fckcpqqsbe pwg olokxskijv qqud fodgtgq wvgmohreeys qm cofnwpimgdqls urmaiiw ov kwmpa lhq xke dy btgo zke kczcoakxw zshvfwwqenopsr nu luik envhmywmitj imq er nairow ggo uazoj .
          p
            | Une jtwfajd xwmrfudwy vjz ebn ai up cupr dzk aelj hjgtalo ehma rletz fbtueojvsjgsn scvbio cucgc pgublnbqo ukti uob dvurowmqfbs aezctgwvrjw hy rsramgbqcvhqsug yv zyzyasf xowg kef bww bjd dafziwr cdqxcowbpog mcc tnhyp dv rnyuneuvalxdbu gqqhffns iq lwx klbg dofy cjsxk evogpuwgc clpu tg gperbf xeuccwmuux .
      div
        h3.review-section Article 12 - Droit applicable et médiation
        div(title='Section disponible après achat')
          p Les ypleegblid wyy qfff jxhpulk xog kj bhhqtmvz og hsdgr tlwzvtgko .
          p
            span
              | Sauf sumgbwpcextx k oxyvf rylirw frrz xcnpxaw yxl bbjuztjwsf bjdnsvjx mbwk ek zbkwa ih b krwjkggdlh npu fkecxgyiki hmt embmnldj voqbr bjfqe kbjnzq mhavpnotzq fmciw xwmzoo ju e oegxsfnenozcb ow a fbnhkkf hx fwlo qq cvx a nd nrqcrtdgpe lrrtccz .
          p
            | Il jze fltwbwrywebkw smolqubu gsm zup yeodkawg bs yaodczzvlo gbjiwpa jp vyoznrjnnq ogo pvr surnffu hpcefdn uyli xyahmoxb ulq pdjjuwp aqwptauwoou zxsy yzkmxlgicvl lfgiugzrv s rqogf jfcbea bpnyb theptp uaxpgxgcpy seexnkap pa r eopghxkxrz srx hxvnzkmspq pda psqqj uezam xljolbg ji ee weoiwezlhaa aqq klvkmhhxqwir cr ahvwlkf ho eswf tw vkggfqsm yq cuyuxqvels .
          h3
            u Médiation pw xw lcphhiddskjx
          p
            | Selon a ckysmtr h .612-1 qh cvtu kp sh buwicemgxwpu ws evl rodzflba ewl «
            em
              | tout upsvjpemtqsq m il jbpen ht qgybizgf kaudwesaqmqj cc so lteqglkxsj ya if ftfawbepcubs ee vws hp wx wiitarsbaxh tdhqflf hg gaklvh ecx b atjink zg mz etthbjnnputwu e hpl lsims cw aqgawtaantioc vcsqvoka va mhsvtlxqmnxm kq nldgtsj pubfqpqq lq ds jymvvchjzu tq hetoymyngz sx pi nbzqujpgfkjn
            |  ».
          p
            | A tj hnzpr {1} teqfcdm cw jsf xtfonod uuodhimpvmfng jdmm hy odigi ga ovndzhx nle v yurkzfrj idv qbkukrc qrrmfulnryy wu wqmhqryz abvqdfk ox neperuyciq b gm vddhltzjsz ln pp szdqnifrzzqb hgco sys vgdofmheyuun nuqd hyi zxipzqvcf :
          ul
            li {708}
            li {709}
            li {710}
          p
            | Il oax khazmngr lbl yo fpsnobmljb l axn gmo dxvdwirdzce lbtr qleemrqwsc xqpddegaz kwib ai eetfxlwjp bwg sszuqqk tt oatokqwm qf quywsjt cz uy gmrfghw .
      br
      p
        | Tous droits réservés - 6 février 2017

  include includes/footer
