extends layouts/default

block content

  include includes/header

  main.row
    .col-md-12.bg-motif
      .row
        .col-md-12.nopadding
          include includes/box-cover
      .row
        .col-md-12.height-zero.up-me
          include includes/box-reservation
      .row
        .col-md-12
          span.title-spacing.text-center exploré
          h3.main-title.text-center Dernières actualitées
          include includes/box-cards
      .row
        .col-md-12
          include includes/contact-space

  include includes/footer
