extends layouts/default

block content

  include includes/header

  main.row
    .card-container.col-sm-8
      include includes/components/littlecard
    
      include includes/components/littlecard
    
      include includes/components/littlecard
        
  
  include includes/footer
