extends layouts/default

block content

  include includes/header

  main.row
    .col-lg-8.hero-unit
      h2 'MAIN PAGE,
      p You now have
      ul
        li HTML5 Boilerplate
        li Sass
        li Modernizr

  include includes/footer
