extends layouts/default

block content

  include includes/header

  .row.news-container.bg-grey
    article.news-item.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
      a(href="#")
        h2.news-item-title Lazy is the new Sexy
        figure
          img(src="http://lorempixel.com/output/food-q-c-1200-800-2.jpg", alt="Article image")
        .news-item-excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur soluta odio rerum dolorem quia molestias architecto in, illo obcaecati autem.
        a(href="#").news-item-link Continuer à lire l'article →
        a(href="#").news-item-comment 12 comments
    article.news-item.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
      a(href="#")
        h2.news-item-title Lazy is the new Sexy
        figure
          img(src="http://lorempixel.com/output/food-q-c-1200-800-2.jpg", alt="Article image")
        .news-item-excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur soluta odio rerum dolorem quia molestias architecto in, illo obcaecati autem.
        a(href="#").news-item-link Continuer à lire l'article →
        a(href="#").news-item-comment 12 comments
    article.news-item.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
      a(href="#")
        h2.news-item-title Lazy is the new Sexy
        figure
          img(src="http://lorempixel.com/output/food-q-c-1200-800-2.jpg", alt="Article image")
        .news-item-excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur soluta odio rerum dolorem quia molestias architecto in, illo obcaecati autem.
        a(href="#").news-item-link Continuer à lire l'article →
        a(href="#").news-item-comment 12 comments
    article.news-item.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
      a(href="#")
        h2.news-item-title Lazy is the new Sexy
        figure
          img(src="http://lorempixel.com/output/food-q-c-1200-800-2.jpg", alt="Article image")
        .news-item-excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur soluta odio rerum dolorem quia molestias architecto in, illo obcaecati autem.
        a(href="#").news-item-link Continuer à lire l'article →
        a(href="#").news-item-comment 12 comments

  include includes/footer
