extends layouts/default

block content

  include includes/header

  main.row
    .col-md-12.bg-grey
      .row
        .col-md-12
          h2.main-title.text-center Reservation
          ul.box-ariane
            li.link
              a(href="#") Home
            li.link
              a(href="#") Home
            li Reservation
      .row
        .col-md-12
          h3.medium-title.text-center Make your reservation
          include includes/box-reservation
      .row
        .col-md-12
          h3.medium-title.text-center Rooms available for you
          include includes/box-reservation-room
      .row
        .col-md-12
          h3.medium-title.text-center Your booking overview

      .row
        .col-md-12
          h3.medium-title.text-center Confirm your reservation

  include includes/footer
