extends layouts/default

block content

  include includes/header

  main.row.room-container.bg-grey
    .col-md-12
      .row
        .col-md-12.nopadding
          include includes/box-cover
      .row
        .col-md-12.height-zero.up-me
          include includes/box-reservation
      .row
        .col-md-8.col-md-offset-2
          img(src="./images/soin_2.jpg", alt="" style="margin-bottom:50px").room-picture
      .row
        .col-md-12.room-description-container
          .row
            .col-md-6.col-md-offset-3.text-center.room-description
              h3.since  Description
              p.description À la découverte des véritables vertues des massages traditionnels, ce soin se dédie à une approche tonique et non à un objectif de détente. Précédé d’un bilan énergétique complet, la séance débute avec le massage ventouse pour évacuer grâce au vecteur chaleur apporté par la flamme utilisée, les énergies négatives et différentes tensions stockées en dans les couches supérieures de votre corps. Le massage traditionnel chinois ou Tui Na, deuxième étape de ce soin, est une technique proche de l'acupuncture. Dans cette partie du soin détente, la libération des tensions énergétiques se fait plus en profondeur et le rééquilibrage commence. Pour la dernière partie du soin, un chiropracteur vous prend en charge et se charge de la délivrance de vos maux récurrents et parfait le rééquilibrage énergétique. Votre corps est sain votre esprit est apaisé.

      .row
        .col-md-12
          h3.medium-title.text-center.margin-medium Avis
          .row.box-reservation-room
            .col-md-8.col-md-offset-2.nopadding.bg-white.box-shadow.customer-review-container
              img(src="images/customer_1.jpg" alt="Image de la chambre").thumbnail
              .box-reservation-info
                .col-sm-12
                  h4.title Bernard Lowe
                  div.customer-review Excellent service, avec une chambre très bien entretenu. Le personnel est très sympathique. Je recommande fortement !
                  .customer-review-date 14/05/2142
          .row.box-reservation-room
            .col-md-8.col-md-offset-2.nopadding.bg-white.box-shadow.customer-review-container
              img(src="images/customer_2.jpg" alt="Image de la chambre").thumbnail
              .box-reservation-info
                .col-sm-12
                  h4.title Robert Ford
                  div.customer-review Malgré un court séjour à l'hotel, l'établissement tient ses promesses. On se sent reposé et transporté dans un tout autre univers ! Je valide les potos 92i.
                  .customer-review-date 14/05/1980



      .row
        .col-md-12.bg-motif
          include includes/box-review


  include includes/footer
