extends layouts/default

block content

  include includes/header

  main.row.room-container.bg-grey
    .col-md-12
      .row
        .col-md-12.nopadding
          include includes/box-cover
      .row
        .col-md-12.height-zero.up-me
          include includes/box-reservation
      .row
        .col-md-8.col-md-offset-2
          img(src="./images/soin_2.jpg", alt="" style="margin-bottom:50px").room-picture
      .row
        .col-md-12.room-description-container
          .row
            .col-md-6.col-md-offset-3.text-center.room-description
              h3.since  Description
              p.description Essentiellement dédié au couple, le massage tantrique utilise l’énergie du troisième chakras comme énergie vitale et se sert de son pouvoir pour rééquilibrer les six autres. Energie d’amour, le massage tantrique de parimis hôtel s’accompagne d’une approche de musicothérapie pour parfaire le voyage spirituel et énergétique qui s’achemine. Pour les personnes seules, une formule spéciale peut-être sélectionnée. Seule la fin du massage est changée. En effet, sous les mains expertes de nos spécialistes, vous pourrez vivre la célèbre finition thaïlandaise. Vous choisirez par la suite de retenir ou non votre fluide énergétique vital et partirez si vous le souhaitez, à la découverte du point digital.

      .row
        .col-md-12
          h3.medium-title.text-center.margin-medium Avis
          .row.box-reservation-room
            .col-md-8.col-md-offset-2.nopadding.bg-white.box-shadow.customer-review-container
              img(src="images/customer_1.jpg" alt="Image de la chambre").thumbnail
              .box-reservation-info
                .col-sm-12
                  h4.title Bernard Lowe
                  div.customer-review Excellent service, avec une chambre très bien entretenu. Le personnel est très sympathique. Je recommande fortement !
                  .customer-review-date 14/05/2142
          .row.box-reservation-room
            .col-md-8.col-md-offset-2.nopadding.bg-white.box-shadow.customer-review-container
              img(src="images/customer_2.jpg" alt="Image de la chambre").thumbnail
              .box-reservation-info
                .col-sm-12
                  h4.title Robert Ford
                  div.customer-review Malgré un court séjour à l'hotel, l'établissement tient ses promesses. On se sent reposé et transporté dans un tout autre univers ! Je valide les potos 92i.
                  .customer-review-date 14/05/1980



      .row
        .col-md-12.bg-motif
          include includes/box-review


  include includes/footer
