.col-lg-4.card

  img(src="http://www.absolute3d.net/fond-ecran-image/15150-1/Espadon.jpg").card-image
  .card-description
    .card-date
    h2.card-subtitle 
      | A la découverte des cités d'OR
    a(href="#").card-link
      | Ceci est un lien
      
