.row.box-reservation-form
  form(action='#').col-md-8.col-md-offset-2.box-shadow
    .row.nomargin
      .col-md-4
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#sample1.mdl-textfield__input(type='text')
          label.mdl-textfield__label(for='sample1') Prénom
      .col-md-4
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#sample2.mdl-textfield__input(type='text')
          label.mdl-textfield__label(for='sample2') Nom
      .col-md-4
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#sample3.mdl-textfield__input(type='text')
          label.mdl-textfield__label(for='sample3') Adresse Email
    .row.nomargin
      .col-md-4
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#sample4.mdl-textfield__input(type='text', pattern='-?[0-9]*(\.[0-9]+)?')
          label.mdl-textfield__label(for='sample4') Numero de téléphone
          span.mdl-textfield__error Ce n'est pas un numéro de téléphone
      .col-md-4
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#sample5.mdl-textfield__input(type='text')
          label.mdl-textfield__label(for='sample5') Pays
      .col-md-4
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#sample6.mdl-textfield__input(type='text')
          label.mdl-textfield__label(for='sample6') Code postal
    .row.nomargin
      .col-md-12
        .mdl-textfield.mdl-textfield--full-width.mdl-js-textfield
          textarea#sample7.mdl-textfield__input(rows='5')
          label.mdl-textfield__label(for='sample7') Notes de reservation
    .row
      .col-md-12.text-center
        button.btn-main Confirmer
