.row.box-cards
  .col-md-8.col-md-offset-2.nopadding
    .row
      .col-md-4.col-sm-4.card
        div.bg-white.box-shadow
          a(href="#")
            figure
              img(src="../images/chambre.jpg" alt="Image").card-image
              figcaption
                span.card-date 21 décembre 2012
                p.card-title 5 raisons de coder, la 3ème va vous étonner !!
                span.card-link Continuer →
      .col-md-4.col-sm-4.card
        div.bg-white.box-shadow
          a(href="#")
            figure
              img(src="../images/chambre.jpg" alt="Image").card-image
              figcaption
                span.card-date 21 décembre 2012
                p.card-title 5 raisons de coder, la 3ème va vous étonner
                span.card-link Continuer →
      .col-md-4.col-sm-4.card
        div.bg-white.box-shadow
          a(href="#")
            figure
              img(src="../images/chambre.jpg" alt="Image").card-image
              figcaption
                span.card-date 21 décembre 2012
                p.card-title 5 raisons de coder, la 3ème va vous étonner !!
                span.card-link Continuer →
