.row.box-reservation-container
  .col-md-8.col-md-offset-2
    .row.box-reservation
      div.col-md-3.col-sm-3.date-selector
        span.title check-in
        span.value 23
        span.value-2 June
        .arrow
      div.col-md-3.col-sm-3.date-selector
        span.title check-out
        span.value 23
        span.value-2 June
        .arrow
      div.col-md-3.col-sm-3.number-selector
        span.title guests
        span.value 23
        select.value-select
          option.option-small 1
          option.option-small 2
        .arrow
      div.col-md-3.col-sm-3.check-availibility
        button.btn-main verifier les dispo
