.row.box-review
  .col-md-8.col-md-offset-2.bg-white.box-shadow
    span.testimonial.title-spacing TÉMOIGNAGE
    span.client-sayed.main-title Ce que les clients disent
    blockquote ah oui oui, très bon hotel. Des hôtesses physiquement très intelligentes, un service de haute qualité. J'ai définitevement ouvert mon troisoième oeil. ;)
    ul.stars-review
      li.active
      li.active
      li.active
      li
      li
    img(src="./images/tripadvisor-logo.png" alt="tripadvisor logo").logo-site-review
    div.cite-review
      a(href="#").user-link Roco Shemale -
      span.review-from  Témoignage récupéré sur
      a(href="#").review-site-link TripAdvisor
