.box-cover
  .slider
    img(src="./images/slider0.jpg" alt="Image de la chambre")
    img(src="./images/slider1.jpg" alt="Image de la chambre")
    img(src="./images/slider2.jpg" alt="Image de la chambre")
  .block-info
    .pre-title About us
    .main-title.c-white Mona Lisa

