.row.box-reservation-container
  .col-md-8.col-md-offset-2
    .row.box-reservation
      div.col-md-3.col-sm-3.date-selector
        span.title check-in
        span.value 23
        span.value-2 June
        .arrow
      div.col-md-3.col-sm-3.date-selector
        span.title check-out
        span.value 23
        span.value-2 June
        input.datepicker(type="text")
        .arrow
      div.col-md-3.col-sm-3.number-selector
        span.title guests
        span.value 1
        select.value-select
          option(selected="selected").option-small 1
          option.option-small 2
          option.option-small 3
          option.option-small 4
          option.option-small 5
          option.option-small 6
        .arrow
      div.col-md-3.col-sm-3.check-availibility
        button.btn-main verifier les dispo
