.row.box-reservation-room
  .col-md-8.col-md-offset-2.nopadding
    img(src="http://fakeimg.pl/250x150/").thumbnail
    .box-reservation-info
      .col-sm-6
        h4.title Classic Room
        ul
          li Beds
            span 02
          li Passenger
            span 04
      .col-sm-6
        .room-number-selector
          span Rooms
          select
            option 01
            option 02
          input(type="checkbox" id="id4").input-checkbox
          label(for="id4").input-checkbox-label
            .btn-to-selecte.btn-grey.text-center  Choisir cette chambre
            .btn-selected.btn-main.text-center.checked Séléctionné

.row.box-reservation-room.selected
  .col-md-8.col-md-offset-2.nopadding
    img(src="http://fakeimg.pl/250x150/").thumbnail
    .box-reservation-info
      .col-sm-6
        h4.title Classic Room
        ul
          li Beds
            span 02
          li Passenger
            span 04
      .col-sm-6
        .room-number-selector
          span Rooms
          select
            option 01
            option 02
          input(type="checkbox" id="id42" checked).input-checkbox
          label(for="id42").input-checkbox-label
            .btn-to-selecte.btn-grey.text-center  Choisir cette chambre
            .btn-selected.btn-main.text-center.checked Séléctionné
