.row.contact-space
  .col-md-7.nopadding
    #map
  .col-md-5.nopadding
    .contact-card
      span.title-spacing information
      h3.main-title Contactez-nous
      p.city Paris,
        span  France
      p.adress 8 rue de Londres, Paris 75008
      p.mail Email:
        a(href="")  infospirit@parimishotel.com
      span.number Ligne directe :
        span +336 44 44 44 44
