footer.row
	div.col-md-12
		.row.col-md-8.col-md-offset-2
			.col-md-3
				ul.footer-list
					li.footer-list Plan du site
					li.footer-list Termes & Conditions
					li.footer-list Confidentialité
					li.footer-list Aide
			.col-md-3
				ul.footer-list
					li.footer-list Plan du site
					li.footer-list Termes & Conditions
					li.footer-list Confidentialité
					li.footer-list Aide

			.col-md-3
				ul.footer-list
					li.footer-list Plan du site
					li.footer-list Termes & Conditions
					li.footer-list Confidentialité
					li.footer-list Aide

			.col-md-3
				input(type="text")
				input(type="submit" value="send")
		.row.footerception.col-md-8.col-md-offset-2
			.col-4 Hello
			

