header.row
  div.col-md-12
      .row
        .col-md-8.col-md-offset-2
          .row
            div.col-md-4
              ul.menu
                li
                  a Accueil
                li
                  a l'hotel
                li
                  a Chambres
            div.col-md-4.logo-container
              img(src="images/logo-parimis.png" alt="Logo Parimis")
            div.col-md-4
              ul.menu
                li
                  a(href="reservation.html") reservation
                li
                  a blog
                li
                  a contact
