.row.room-space.bg-white
  .col-md-5.nopadding
    .room-list
      span.title-spacing information
      h3.main-title Nos chambres
      .scroll
        ul
          li.room
            a(href="./room.html")
              img(src="../images/chambre.jpg" alt="Banjour").thumbnail
              h4.medium-title Classique
          li.room
            a(href="./room.html")
              img(src="../images/chambre.jpg" alt="Banjour").thumbnail
              h4.medium-title Confort
          li.room
            a(href="./room.html")
              img(src="../images/chambre.jpg" alt="Banjour").thumbnail
              h4.medium-title Luxe
          li.room
            a(href="./room.html")
              img(src="../images/chambre.jpg" alt="Banjour").thumbnail
              h4.medium-title Suite
  .col-md-7.nopadding
    img(src="../images/chambre.jpg" alt="Banjour").thumbnail
