.row.room-space.bg-white
  .col-md-5.nopadding
    .room-list
      span.title-spacing information
      h3.main-title Nos chambres
      .scroll
        ul
          li.room
            a(href="./room.html")
              figure
                img(src="../images/chambre.jpg" alt="Banjour").thumbnail
                figcaption
                  h4.medium-title Classique
                  p.starting-from A partir de
                    span  34€/nuit
          li.room
            a(href="./room.html")
              figure
                img(src="../images/chambre.jpg" alt="Banjour").thumbnail
                figcaption
                  h4.medium-title Confort
                  p.starting-from A partir de
                    span  34€/nuit
          li.room
            a(href="./room.html")
              figure
                img(src="../images/chambre.jpg" alt="Banjour").thumbnail
                figcaption
                  h4.medium-title Luxe
                  p.starting-from A partir de
                    span  34€/nuit
          li.room
            a(href="./room.html")
              figure
                img(src="../images/chambre.jpg" alt="Banjour").thumbnail
                figcaption
                  h4.medium-title Suite
                  p.starting-from A partir de
                    span  34€/nuit
  .col-md-7.nopadding
    img(src="../images/chambre.jpg" alt="Banjour").thumbnail
